* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container,
#chart {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #6863fe;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 5px;
}

.input-group {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button#addItemBtn,
#currencyConverter {
  display: inline-block;
  width: 48%;
  margin-top: 10px;
}

#addItemBtn {
  background-color: #6863fe;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

#addItemBtn:hover {
  background-color: #5750e6;
}

#currencyConverter {
  text-align: right;
}

#currencyConverter label {
  margin-right: 10px;
}

#currencyConverter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #6863fe;
  color: white;
}

table th button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

table th button.active {
  background-color: #8581ff;
}

table th button span {
  margin-left: 5px;
}

table td {
  background-color: #f9f9f9;
}

button.deleteBtn {
  background-color: #fc848b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button.deleteBtn:hover {
  background-color: #e6737a;
}

.summary {
  margin-top: 20px;
  text-align: right;
}

.summary p {
  font-size: 18px;
  color: #81bb71;
}

#chart {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  background: #6863fe;
  color: white;
  border-radius: 4px;
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #6863fe;
  shape-rendering: crispEdges;
}

.dot {
  fill: #6863fe;
  stroke: #fff;
}
